[Desktop Entry]
Name=aurumOS
Comment=Custom Look and Feel for Aurum OS
X-KDE-PluginInfo-Name=site.aurum.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=MRKM
X-KDE-PluginInfo-Email=yuta@mrkm.pp.ua
X-KDE-PluginInfo-Category=LookAndFeel
